body {
    font-family: 'Helvetica', 'Verdana', sans-serif;
    font-size: 1em;
    background-color: lightslategrey;
    color: floralwhite;
    overflow-x: hidden;
    line-height: 2em;
}

#env {
    display: none;
}

#env label {
    display: inline-block;
    width: 10em;
}

#env input {
    width: 40em;
}

.fe {
    margin-right: 1em;
}

#next,
#next2,
#link {
    display: none;
}

#required_parameters {
    width: 24em;
}

#daterange {
    width: 36em;
}

a {
    text-decoration: none;
    transition: 0.2s ease;
}

.menu-link:link,
.menu-link:visited {
    color: #fff;
    background: rgba(0, 0, 0, .4);
    border-radius: 4px;
    padding: .2em .4em;
    font-size: 1.5em;
}

.menu-link:hover,
.menu-link:active {
    color: #25B89A;
    background: rgba(0, 0, 0, .6);
}

.panel {
    background: #2C3E50;
    z-index: 9999;
    position: fixed;
    left: -15.625em;
    /*or width of your navigation panel*/
    width: 15.625em;
    /*should match the above value*/
}

.panel ul {
    border-top: 2px solid #34495D;
}

.panel a {
    display: block;
    border-bottom: 2px solid #34495D;
    padding: 1em;
}

.panel a:link,
.panel a:visited {
    color: #fff;
}

.panel a:hover,
.panel a:active {
    background: #25B89A;
}

.nav-icon {
    margin-right: 6px;
}

.wrap {
    position: relative;
    margin: 0 auto;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#loading {
    height: 1.3em;
    display: none;
}

#disclaimer {
    font-size: 1.1em;
    color: crimson;
    width: 46em;
}

select,
input,
button {
    cursor: pointer;
}

button {
    background-color: red;
    color: white;
    border: 0;
    padding: 0.4em;
    font-weight: bold;
}

button:hover {
    color: red;
    background-color: white;
}

#chatdetails {
    display: none;
}

.bigger {
    font-size: 1.6em;
}

#fromDate {
    width: 100px;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#toDate {
    width: 100px;
}

#tabulator {
    margin-top: 1em;
}

#loading_logo {
    float: right;
    background-color: white;
}

#logout {
    float: right;
}